{% extends "base.html" %}

{% block content %}

<!--hero section-->
<div class="hero-image">
    <div>
        <h1>Welcome To Mexicana</h1>
        <p>Discover Simple and Tasty Mexican Recipes</p>
    </div>
</div>
  
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/taco1.jpg') }}" alt="mexican food" class="responsive-image">
                <a href="{{ url_for('get_recipes') }}">
                    <span class="card-title">Starters</span>
                </a>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/noodles.jpg') }}" alt="mexican food" class="responsive-image">
                <a href="{{ url_for('get_recipes') }}">
                    <span class="card-title">Mains</span>
                </a>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/cake.jpg') }}" alt="mexican food" class="responsive-image">
                <a href="{{ url_for('get_recipes') }}">
                    <span class="card-title">Desserts</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
