{% extends "base.html" %}
{% block content %}



  <!--collapsible from materialize-->
  <ul class="collapsible popout">
    { for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text blue-grey lighten-1 text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.serves }}
        </div>       
        <div class="collapsible-body">
            <strong>{{ recipe.course_name }}</strong>
            <p>{{ recipe.ingredients_list }}</p>
        </div>       
    </li>
    { endfor}
</ul>
        
    {% endblock %}
